.mainContent {
    padding: 64px 120px;
    flex-grow: 1;
    display: flex;
    width: 100%;
}

.main {
    width: 62%;
    padding: 16px 32px;
    position: relative;
    background-color: #121212;
}